<ion-header>
  <ion-toolbar>
    <ion-title>{{languageData.resetPassword.header}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="z-index: 0; position: absolute; width: 100%; height: 100%;">
    <img style="width: 100%; height: 100%;" src="https://fast-eyrie-03100.herokuapp.com/api/touristicPlace/mainImage/8" alt="">
  </div>

  <ion-card class="loginForm" style="z-index: 1; top: 10%;">
    <form (ngSubmit)="resetForm()" class="loginForm" #formAdd="ngForm">
      <div class="form-group">
        <label for="email"><strong><ion-icon name="person-circle" style="font-size: 20px;"></ion-icon>{{languageData.login.emailField}}</strong></label>
        <ion-input class="inputForm" type="email" [(ngModel)]="userData.email" name="email" required placeholder="{{languageData.login.emailPlaceHolder}}" ngModel [email]="true"></ion-input>
      </div>
      <ion-button type="submit" style="width: 100%;" [disabled]="formAdd.form.invalid">{{languageData.resetPassword.resetButton}}</ion-button>      
    </form>

    
  </ion-card>


  <div style="position: absolute; bottom: 50%; width: 100%;" *ngIf="resetStatus">
    <br>
    <p style="background-color: #2dd36f; color: rgb(255, 255, 255); font-size: medium; padding: 20px; width: 90%; margin: auto; border-radius: 5px; font-weight: bold;">Se envio la solicitud para reiniciar tu contraseña, porfavor revisa tu correo electronico!
    <br> <br>
    </p>
      
  </div>


</ion-content>
