<ion-header>
  <ion-toolbar>
    <ion-title>Valida tu informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="loginForm">
    <form (ngSubmit)="validateUser()" class="loginForm" #formAdd="ngForm">
      <div class="form-group">
        <label for="email">Correo electronico</label>
        <ion-input class="inputForm" type="email" [(ngModel)]="userFormData.email" name="email" required placeholder="example@gmail.com" ngModel [email]="true"></ion-input>
      </div>
      <div class="form-group">
        <label for="code">Código</label>
        <ion-input class="inputForm" type="text" [(ngModel)]="userFormData.code" name="code" required placeholder="Codigo de confirmacion" ngModel [required]></ion-input>
      </div>      
      <ion-button type="submit" style="width: 100%;" [disabled]="formAdd.form.invalid">VALIDAR</ion-button>
    </form>
  </ion-card>
</ion-content>
