<ion-header>
  <ion-toolbar>
    <ion-title (click)="dismiss()">X</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>




  <ion-card style="width: 80%;margin: auto; min-height: 20%;" *ngIf="base64Qr === ''">
    <ion-card-content style="text-align: center;">
      <p style="margin-top: 10%;">Selecciona una imagen!</p>
    </ion-card-content>
  </ion-card>

  <ion-card style="width: 80%;margin: auto; min-height: 20%;" *ngIf="base64Qr !== ''">
    <ion-card-content style="text-align: center;">
      <img id="img1" src="{{base64Qr}}" alt="" style="width: 100%; height: fit-content;">
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="selectImage()">Cargar imagen</ion-button>
</ion-content>