
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="general">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>{{languageData.detail.tabs.general}}</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>{{languageData.detail.tabs.map}}</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="gallery">
        <ion-icon name="images"></ion-icon>
        <ion-label>{{languageData.detail.tabs.gallery}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="chat">
        <ion-icon name="chatbox-ellipses"></ion-icon>
        <ion-label>{{languageData.detail.tabs.commentary}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
